<div  fxLayoutAlign="center center" fxFlexFill  class="nn" style="background-image: url('1.jpg');">
        <mat-card fxFlex=25%>
            <mat-toolbar color="warn">
                ENTER DETAILS FOR LOGIN
            </mat-toolbar>
            <form fxLayoutAlign="stretch" fxLayout="column" class="mm">
                <mat-form-field  appearance="fill">
                  <mat-label>Enter name </mat-label>
                  <input matInput placeholder="Username">
                </mat-form-field>
              
                <mat-form-field  appearance="fill">
                  <mat-label>Enter email</mat-label>
                  <input matInput type="email" placeholder="Email" >
                </mat-form-field>
                <a mat-raised-button href="https://www.allrecipes.com/" target="_blank" color="warn">Ready!</a>
              </form>
              
        </mat-card>
    
</div>
